.dashboard{
	display: flex;
	flex-direction: row
}

.dashboard .sidebar{
	width:240px;
	height: 100vh;
	background-color:#2d2a26;
	padding-top:10px;
	color:white;
}
.dashboard .sidebar div,.dashboard .sidebar p{
	text-align: center;
}

.dashboard .sidebar img.logo{
	width:120px;
	margin-bottom:20px;
}

.dashboard .sidebar ol{
	list-style: none;
}

.dashboard .sidebar ol li{
	cursor:pointer;
}

.dashboard .header{
	width:100%;
	height:50px;
	background-color:white;
	box-shadow: 0 1px 1px rgba(0,0,0,.7);
	display: flex;
	align-items:  center;
	padding: 0 10px
}

.dashboard .header div img{
	width:70px;
	height: 25px
}

.dashboard .header div a{
	margin-left: 20px
}
.dashboard .content-center{
	width:100%;
}

.dashboard .content-center .content-form{
	background-color: #e5e5e5;
	height: calc(100vh - 100px);
	padding:20px;
	overflow-y: scroll;
}

.dashboard .content-center .footer{
	width:100%;
	height:50px;
	background-color:white;
	display: flex;
	align-items:  center;
	padding: 0 10px;
}